html 
{
    font-family: sans-serif;
    background: #ffc600;
}

.container 
{
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 5px;
    
}
  
.item 
{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.item:last-child 
{
    border-bottom: 0;
}
  
input[type="checkbox"] 
{
    margin: 20px;
}

p 
{
    margin: 0;
    padding: 20px;
    flex: 1;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-left: 1px solid lightgray;
}
